extends ../commun/layout-front

block contenu_page
    h1 #{article.titre}
    div #{article.contenu}
    hr.my-3
    // class m 
    //   m-0 ... 5 => marge en haut en bas gauche et droite
    //   mt-0 ... 5 => marge top 
    //   mb-0 ... 5 => marge bottom 
    //   ms-0 ... 5 => marge left - version 5
    //   me-0 ... 5 => marge right
    //   mx-0 ... 5 => marge right + left
    //   my-0 ... 5 => marge top et bottom
    h2 Laisser un commentaire
    form 
        input(type="email" class="form-control my-4" name="email" placeholder="votre@email.fr")
        textarea(placeholder="votre commentaire" name="commentaire" class="form-control")
        - const prop = { type:"hidden" , name :"id" , value : article._id  } 
        input&attributes(prop)
        input(type="submit" class="btn btn-outline-dark btn-sm my-3")
    .message 
    .liste-commentaire 
        - if(article.commentaires != undefined && article.commentaires.length > 0){
            h3 liste des commentaires :
            each commentaire in article.commentaires
                div.border.border-primary.rounded.my-3.p-2
                    p #{commentaire.email} 
                    p #{commentaire.commentaire}
        - }
        // rdv 14h18 pour la suite 
        // live ajout des commentaires dans la page article 
        // formulaire connexion au back json web token => localStorage du client (navigateur)
        // 

block script_js
    // script(src="script.js")
    script. 
        document.querySelector("form").addEventListener("submit" , (e) => {
            e.preventDefault();

            const commentaire = {
                email : e.target.email.value,
                commentaire : e.target.commentaire.value,
                id_article : e.target.id.value
            }
            // console.log(commentaire);
            const req = new XMLHttpRequest();
            req.open("POST" , "http://localhost:5200/back/add-commentaire")
            req.setRequestHeader('Content-Type', 'application/json;charset=UTF-8')

            req.onload = () => {
                const message = document.querySelector(".message")
                const listeCommentaire = document.querySelector(".liste-commentaire")
                if(req.status === 200){
                    const html = `<div class="alert alert-success">commentaire publié</div>`;
                    message.innerHTML = html ;
                    setTimeout(() => {
                        message.innerHTML = "";
                    } , 2000)
                    const htmlCommentaire = `<div class="border border-primary rounded my-3 p-2">
                            <p>${commentaire.email}</p>
                            <p>${commentaire.commentaire}</p>
                        </div>`
                    listeCommentaire.insertAdjacentHTML('beforeend' , htmlCommentaire);
                    e.target.reset();
                    return ;
                }
                const { error } = JSON.parse(req.responseText);
                const erreurs = error.map((element) => { return `<div>${element}</div>` }).join("")
                message.innerHTML = `<div class="alert alert-danger my-3">${erreurs}</div>`;
                setTimeout(() => {
                        message.innerHTML = "";
                } , 2000)
            }

            req.send(JSON.stringify(commentaire))

        })
